

/*body*/
body{
background-color: #F8F8F8;
font-family: 'Nunito', Extra-Light;
}
/*clipboard wrapper*/
.wrapper{
position:absolute;
/*margin-top: -320px;*/
top:19em;
left:105px;
width:10%;
display: grid;
grid-template-columns: 0fr 0fr 0fr 0fr;
grid-template-rows: 0fr 0fr 0fr 0fr;
/*grid-column-gap:1em;
grid-row-gap:1em;*/
grid-gap: 1em 11em ;
}
/*clipboards divs*/
.wrapper > div{
background: #ffffff;
border:#ffffff;
text-align:center;
align-self:flex-start;
/*display: inline-block;*/
font-family: 'Nunito', Extra-Light;
width: 270%;
}
/*div of divs in clipboard*/
.wrapper, div, div{
color:#b3b3b3;
}
/*paragraph in clipboard*/
.wrapper p{
font-weight:bold;
color: #b3b3b3;
}
/*div 1 in clipboard*/
.box1{
margin-left: 10px;
}
/*div 6 in clipboard*/
.box6{
align-self:auto;
grid-row:2/1;
}
/*div 2 in clipboard*/
.box2{
align-self:center;
grid-column: 2/2;
grid-row:1/2;
}
/*div 4 in clipboard*/
.box4{
align-self:center;
grid-column: 4/4;
grid-row:1/1;
margin-right: 10px;
}
/*div 3 in clipboard*/
.box3{
align-self:center;
grid-column: 3/3;
grid-row:1/1;
margin-left: 7px;
}
/*div 5 in clipboard*/
.box5{
grid-column: 1/1;
grid-row:2/2;
margin-top: -5px;
margin-left: 10px;
}
/*div 6 in clipboard*/
.box6{
grid-column: 2/2;
grid-row:2/2;
margin-top: -110px;
}
/*div 7 in clipboard*/
.box7{
margin-top: -43px;
margin-left: 7px;
}
/*div 8 in clipboard*/
.box8{
margin-top: -190px;
}
/*div 9 in clipboard*/
.box9{
margin-top: -10px;
margin-left: 10px;
}
/*div 10 in clipboard*/
.box10{
margin-top: -57px;
/*margin-left: -40px;*/
}
/*div 11 in clipboard*/
.box11{
margin-top: -140px;
margin-left: 7px;
}
/*div 12 in clipboard*/
.box12{
margin-top: -145px;
}
/*.box3{
align-self:center;
grid-column: 3/3;
grid-row:1/2;
}*/

/*.box2{
align-self:auto;
grid-column: 1.1;
*grid-row: 1/1;
align-self: end;*/
/**
.box3{
justify-self:end;
grid-column: 2/4;
grid-row:3;
}

.box4{
grid-column:1;
grid-row:2/4;
}*/

/*div 1 top of page*/
.headertop{
background-color: #26262e;
height:200px;
width:100%;
}
/*side div for header2*/
.sidebar{
position: relative;
background-color: #cccccc;
left:86.8%;
right: 0;
height:100vh;
width:250px;
}
/*div for menu on side*/
.headsidebar{
position: absolute;
background-color: #00000c;
left:86.6%;
right: 5;
margin-top: 0;
height:200px;
width:250px;
}
/*menu vertical UL*/
.ul_top_menu_vertical{
position: relative;
left: 150px;
top:150px;
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
font-family: 'Open Sans', sans-serif;
}
/*menu vertical LI*/
.li_top_menu_vertical{
display: inline-block;
text-align: center;
padding: 14px 25px;
text-decoration: none;
font-family: 'Open Sans', sans-serif;
}
/*LI <a> styling*/
.li_top_menu_vertical a{
color: #d9d9d9;
text-decoration: none;
font-family: 'Open Sans', sans-serif;
}
/*a styling*/
a{
color: #737373;
font-family: 'Open Sans', sans-serif;
text-decoration: none;
}
/*hoover*/
.li_top_menu_vertical a:hover{
border-bottom: 1px solid #70DBDB;
}
/*sidebar hoover*/
.sidebar a:hover{
margin-left: -61px;
border-left:5px solid #70DBDB;
padding: 20px;
}
/*profile pic*/
#profilepic{
width: 3%;
height: auto;
border-radius: 25px;
position: relative;
left: 74%;
top: 10px;
}
/*profile menu*/
.profiledrop{
width: 6%;
border-color: #26262e;
background-color: #26262e;
color: white;
position: relative;
left:75%;
top: -25px;
font-family: 'Open Sans', sans-serif;
}

/*header 2 */
#clipboard{
position: absolute;
top: 55px;
left: 50px;
color: white;
font-family: 'Open Sans', sans-serif;
}
/*header 3*/
#collections{
position: relative;
color: #ffffff;
height:40px;
width: 40px;
top: 150px;
right: -50px;
font-family: 'Open Sans', sans-serif;
font-size: 20px;
color:#595959;
}

/*sidebar attributes*/
.sidebar a{
position:relative;
left: 60px;
top: 30px;
/*text-align: left;*/
align-content: left;
height: 100%;
}
/*list view*/
.changeview1{
position: relative;
top:6px;
right: 1000px;
height: 2%;
width: 2%;
}
/*square view */
.changeview2{
position: relative;
top:6px;
right:1000px;
height: 2%;
width: 2%;
}
/*searrch field*/
.searchfield{
margin-top: 20px;
}
/*div for search and view*/
.last{
position:fixed;
left:70px;
top:211px;
width: 76%;
height:60px;
/*border:solid;*/
text-align: right;
}
/*sidebar attr.color*/
.sidebar a{
#595959
color:#595959;
}
/*h1*/
h1{
font-family: 'Open Sans', sans-serif;
font-size: 50px;
}
